.dashboard-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .buttons-block {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .finished-btn,
    .unfinished-btn {
      width: 180px;
      height: 40px;
      border: 0;
      margin-top: 10px;
      border-radius: 4px;
      outline: none;
      color: #ff8412;
      font-size: 1.3em;
      font-family: "Montserrat", sans-serif;
      background: #0b151a;
    }
  }
  .todo-blocks {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .new-block {
      width: 300px;
      padding: 45px 0px 45px 0px;
      background: #1d2b31;
      border: 1px dashed #c1c1c1;
      box-sizing: border-box;
      display: block;
      margin-top: 10px;

      button {
        margin: auto;
        outline: none;
        display: block;
        width: 130px;
        height: 60px;
        text-align: center;
        font-size: 2.5em;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #ff8412;
        border: 0;
        background: #131c20;
        border-radius: 5px;

        &:hover {
          background: #1b2429;
        }

        &:active {
          background: #141f25;
        }
      }
    }

    .todo-block {
      width: 300px;
      height: 190px;
      margin-top: 10px;
      padding: 20px;
      background: #0b151a;
      box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35);
      border-radius: 5px;

      .processbar-side {
        width: 95px;
        float: left;

        .percent {
          position: relative;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          box-shadow: inset 0 0 50px #000;
          background-color: #222;
          top: -5px;
          bottom: 15px;
          z-index: 8;

          .number {
            position: absolute;
            top: 3px;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;

            h2 {
              text-align: center;
              font-size: 1em;
              font-family: "Montserrat", sans-serif;
              font-weight: 200;
            }
          }
          svg {
            position: relative;
            width: 150px;
            height: 80px;
            z-index: 5;

            & circle {
              width: 100%;
              height: 100%;
              fill: none;
              stroke: #191919;
              stroke-width: 6px;
              stroke-linecap: round;
              transform: translate(5px, 5px);

              &:nth-child(2) {
                stroke-dasharray: 440;
                transition: all 0.8s;
              }
            }
          }
        }

        button {
          width: 80px;
          height: 30px;
          margin-top: 5px;
          border: 0;
          outline: none;
          box-sizing: border-box;
          background: none;
          font-family: "Montserrat", sans-serif;
          font-size: 1em;
          font-weight: 300;
        }

        .edit-button {
          border: 1px solid #9195ff;
          color: #9195ff;

          &:hover {
            border: 1px solid #7578dd;
            color: #7578dd;
          }

          &:active {
            border: 1px solid #676ac2;
            color: #676ac2;
          }
        }

        .finish-button {
          border: 1px solid #0dc160;
          color: #0dc160;

          &:hover {
            border: 1px solid #1c9454;
            color: #1c9454;
          }

          &:active {
            border: 1px solid #58af81;
            color: #58af81;
          }
        }
      }

      .text-side {
        width: 160px;
        float: left;
        height: 100%;

        h1,
        p {
          font-family: "Montserrat", sans-serif;
          color: white;
        }
        h1 {
          width: 100%;
          overflow: hidden;
          font-weight: 200;
          font-size: 1.2em;
          text-align: center;
        }

        p {
          font-size: 0.8em;
          text-align: justify;
        }
      }
    }
  }

  .text-holder {
    width: 100%;
    height: 150px;
    .gray-text {
      height: 100px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 29px;
      line-height: 35px;

      width: 80%;
      text-align: center;
      color: #636363;
      position: absolute;
      top: 125px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .gray-box {
    width: 280px;
    padding: 45px 0px 45px 0px;
    float: left;
    margin-left: 15%;
    background: #1d2b31;
    border: 1px dashed #c1c1c1;
    box-sizing: border-box;
    display: block;

    @media (max-width: 400px) {
      margin: auto;
      float: none;
    }

    button {
      margin: auto;
      outline: none;
      display: block;
      width: 130px;
      height: 60px;
      text-align: center;
      font-size: 2.5em;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: #ff8412;
      border: 0;
      background: #131c20;
      border-radius: 5px;

      &:hover {
        background: #1b2429;
      }

      &:active {
        background: #141f25;
      }
    }
  }
}
