.edit-todo {
  width: 100%;
  max-width: 650px;
  min-width: 320px;
  padding: 30px;
  background: #131c20;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 400px) {
    top: 55%;
  }

  .perc-side {
    width: 100%;
    float: left;

    .input-block {
      width: 50%;
    }
  }

  .buttons-side {
    width: 100%;
    min-width: 230px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    button {
      display: block;
      outline: none;
      border: 0;
      margin-top: 10px;
      background: none;
    }

    .edit-btn {
      width: 110px;
      height: 40px;
      color: #9095FF;
      border: 1.2px solid #9095FF;
      box-sizing: border-box;

      &:hover {
        color: #5e63c2;
        border: 1.2px solid #5e63c2;
      }

      &:active {
        color: #9095FF;
        border: 1.2px solid #9095FF;
      }
    }

    .close-btn {
      width: 90px;
      height: 40px;
      color: #fe0000;
      border: 1.2px solid #fe0000;
      box-sizing: border-box;

      &:hover {
        color: #a10000;
        border: 1.2px solid #a10000;
      }

      &:active {
        color: #fe0000;
        border: 1.2px solid #fe0000;
      }
    }

    .ready-btn {
      width: 110px;
      height: 40px;
      color: #ff8412;
      border: 1.2px solid #ff8412;
      box-sizing: border-box;

      &:hover {
        color: #c05e03;
        border: 1.2px solid #c05e03;
      }

      &:active {
        color: #ff8412;
        border: 1.2px solid #ff8412;
      }
    }
  }

  .input-block {
    width: 100%;
    height: 120px;

    p {
      color: white;
      font-size: 1.1em;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
    }

    input,
    textarea {
      color: white;
      font-size: 0.9em;
      padding: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: 200;
      display: block;
      width: 100%;
      height: 40px;
      background: #1d2b31;
      border: 1px solid #1d2b31;
      box-sizing: border-box;
      border-radius: 2px;
    }
  }
}
